*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-content {
	display: none;
}

.carousel-content.active {
	display: block;
}
.diseno{
    background-color: aquamarine;
}
.disenoTitulo{
    color:purple;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
.disenoControls{
    text-align:  center;
    margin-top: 30px;
}
button{
    padding: 10px;
    border-radius: 20px;

    
}
.previous ,.next{
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.7);
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family:monospace;
    cursor:pointer;
    margin-top: 15px;
}
.previous{
    margin-left: -50px;
}
.next{
    margin-left: 15px;
}
.alinear{
    text-align: center;
    margin-left: 35px;
}
.container-fluid{
    height: 650px;
}